<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crimotionlab.softmirror" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="SoftMirror">SoftMirror</name>
    <description>
        A mobile app to control soft mirror systems.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="www/assets/greenwing_gradient_nocircle_512px.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="www/assets/gearicon.png" target="assets/gearicon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="www/assets/gearicon.png" target="assets/gearicon.png" />
    </platform>
    <hook src="bin/index.js" type="before_build" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-osc" spec="^1.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
